article {
    display: block;
    top: 0px;
    position: relative;
    max-width: 350px;
    background-color: #f5f5fa;
    border-radius: 6px;
    padding: 15px 10px;
    margin: 1rem;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    min-width: 349px;
}

.card card-body {
    display: flex;
    justify-items: center;
    justify-content: center;
}





//LIMPIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO

.suscribe {
    margin-top: 15px;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #80964a), to(#324280));
    background: -webkit-linear-gradient(left, #324280(197, 168, 24) 55%, #324280);
    background: linear-gradient(90deg, #80964a 30%, #324280);
    color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 16px;

    h1 {
        color: #fff;
        font-size: x-large;
        text-align: center;
        margin: 5px;
    }

    div {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
}

.logo {
    display: flex;
    justify-content: center;

    img {
        max-width: 80px;
        margin-top: 5px;
    }
}

.texto {
    display: flex;
    justify-content: center;

    h2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(37, 37, 37);
        margin-top: 10px;
        text-align: center;
    }
}

.card-wrap {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    article {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        min-height: 455px;
        box-shadow: rgb(60, 61, 61) 0px 20px 30px -10px;

        .botones {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            

            h5 {
                padding: 8px 0 0 0;
                color: grey;
                width: 100%;
            }

            button {
                margin-left: 5px;
            }
        }

        .qr {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 100%;
                max-height: 100%;
                opacity: 90%;
                position: absolute;
                bottom: 5px;
            }
        }

    }
    img {
        border-radius: 0.7rem;
    }


}


@mixin button {
    $color: #80964a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    min-height: 50px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 2rem;
    color: #777;
}

a {
    font-size: .5rem;
    color: #999;
    text-decoration: none;
    padding: 0;
    text-align: center
}

.button1 {
    @include button();

    &:after {
        background-color: #45aeae;
    }

    &:before {
        background-color: darken(#45aeae, 15%);
    }
}
.button2 {
    @include button();

    &:after {
        background-color: #e23a59;
    }

    &:before {
        background-color: darken(#e23a59, 15%);
    }
}
.button3 {
    @include button();

    &:after {
        background-color: #fcc82b;
    }

    &:before {
        background-color: darken(#fcc82b, 15%);
    }
}
.button4 {
    @include button();

    &:after {
        background-color: #3e7b97;
    }

    &:before {
        background-color: darken(#3e7b97, 15%);
    }
}
.button5 {
    @include button();

    &:after {
        background-color: #604a96;
    }

    &:before {
        background-color: darken(#604a96, 15%);
    }
}
.button6 {
    @include button();

    &:after {
        background-color: #f7931e;
    }

    &:before {
        background-color: darken(#f7931e, 15%);
    }
}
.button7 {
    @include button();

    &:after {
        background-color: #da2b2b;
    }

    &:before {
        background-color: darken(#da2b2b, 15%);
    }
}
.button8 {
    @include button();

    &:after {
        background-color: #2b3cda;
    }

    &:before {
        background-color: darken(#2b3cda, 15%);
    }
}
.button9 {
    @include button();

    &:after {
        background-color: #67c41b;
    }

    &:before {
        background-color: darken(#67c41b, 15%);
    }
}
.button10 {
    @include button();

    &:after {
        background-color: #df77c8;
    }

    &:before {
        background-color: darken(#df77c8, 15%);
    }
}
.button11 {
    @include button();

    &:after {
        background-color: #757575;
    }

    &:before {
        background-color: darken(#757575, 15%);
    }
}
.button12 {
    @include button();

    &:after {
        background-color: #408d29;
    }

    &:before {
        background-color: darken(#408d29, 15%);
    }
}
.button13 {
    @include button();

    &:after {
        background-color: #f15073;
    }

    &:before {
        background-color: darken(#f15073, 15%);
    }
}

@media (max-width: 770px) {
    .card-wrap {
        img {
            display: none;
        }
        article {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            min-height: 145px;
        }
    }
}

//FOOTERRRRRRRRRRRRR
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font-size: 2.1rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
    }

    p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 30px;
        font-size: 15px;
        color: #cacdd2;
    }
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;

    p {
        float: left;
        font-size: 14px;
        word-spacing: 1.5px;
        text-transform: capitalize;

        a {
            color: #44bae8;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    span {
        text-transform: uppercase;
        opacity: 0.4;
        font-weight: 200;
    }
}

.footerMenu {
    justify-content: center;
    display: flex;
    width: 100%;

    ul {
        display: flex;

        li {
            padding-right: 10px;
            display: block;

            a {
                color: #cfd2d6;
                text-decoration: none;

                &:hover {
                    color: #27bcda;
                }
            }
        }
    }
}