article {
  display: block;
  top: 0px;
  position: relative;
  max-width: 350px;
  background-color: #f5f5fa;
  border-radius: 6px;
  padding: 15px 10px;
  margin: 1rem;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  min-width: 349px;
}

.card card-body {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.suscribe {
  margin-top: 15px;
  align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #80964a), to(#324280));
  background: -webkit-linear-gradient(left, #324280 197, 168, 24 55%, #324280);
  background: linear-gradient(90deg, #80964a 30%, #324280);
  color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.suscribe h1 {
  color: #fff;
  font-size: x-large;
  text-align: center;
  margin: 5px;
}
.suscribe div {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  max-width: 80px;
  margin-top: 5px;
}

.texto {
  display: flex;
  justify-content: center;
}
.texto h2 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(37, 37, 37);
  margin-top: 10px;
  text-align: center;
}

.card-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.card-wrap article {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 455px;
  box-shadow: rgb(60, 61, 61) 0px 20px 30px -10px;
}
.card-wrap article .botones {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-wrap article .botones h5 {
  padding: 8px 0 0 0;
  color: grey;
  width: 100%;
}
.card-wrap article .botones button {
  margin-left: 5px;
}
.card-wrap article .qr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-wrap article .qr img {
  max-width: 100%;
  max-height: 100%;
  opacity: 90%;
  position: absolute;
  bottom: 5px;
}
.card-wrap img {
  border-radius: 0.7rem;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

a {
  font-size: 0.5rem;
  color: #999;
  text-decoration: none;
  padding: 0;
  text-align: center;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button1:hover {
  color: #fff;
}
.button1:hover:before {
  width: 100%;
}
.button1:after {
  background-color: #45aeae;
}
.button1:before {
  background-color: #2f7777;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button2:hover {
  color: #fff;
}
.button2:hover:before {
  width: 100%;
}
.button2:after {
  background-color: #e23a59;
}
.button2:before {
  background-color: #b51b37;
}

.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button3:hover {
  color: #fff;
}
.button3:hover:before {
  width: 100%;
}
.button3:after {
  background-color: #fcc82b;
}
.button3:before {
  background-color: #d7a303;
}

.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button4:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button4:hover {
  color: #fff;
}
.button4:hover:before {
  width: 100%;
}
.button4:after {
  background-color: #3e7b97;
}
.button4:before {
  background-color: #284f61;
}

.button5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button5:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button5:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button5:hover {
  color: #fff;
}
.button5:hover:before {
  width: 100%;
}
.button5:after {
  background-color: #604a96;
}
.button5:before {
  background-color: #3f3163;
}

.button6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button6:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button6:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button6:hover {
  color: #fff;
}
.button6:hover:before {
  width: 100%;
}
.button6:after {
  background-color: #f7931e;
}
.button6:before {
  background-color: #c26c07;
}

.button7 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button7:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button7:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button7:hover {
  color: #fff;
}
.button7:hover:before {
  width: 100%;
}
.button7:after {
  background-color: #da2b2b;
}
.button7:before {
  background-color: #9d1b1b;
}

.button8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button8:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button8:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button8:hover {
  color: #fff;
}
.button8:hover:before {
  width: 100%;
}
.button8:after {
  background-color: #2b3cda;
}
.button8:before {
  background-color: #1b289d;
}

.button9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button9:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button9:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button9:hover {
  color: #fff;
}
.button9:hover:before {
  width: 100%;
}
.button9:after {
  background-color: #67c41b;
}
.button9:before {
  background-color: #448112;
}

.button10 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button10:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button10:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button10:hover {
  color: #fff;
}
.button10:hover:before {
  width: 100%;
}
.button10:after {
  background-color: #df77c8;
}
.button10:before {
  background-color: #d039af;
}

.button11 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button11:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button11:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button11:hover {
  color: #fff;
}
.button11:hover:before {
  width: 100%;
}
.button11:after {
  background-color: #757575;
}
.button11:before {
  background-color: #4f4f4f;
}

.button12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button12:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button12:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button12:hover {
  color: #fff;
}
.button12:hover:before {
  width: 100%;
}
.button12:after {
  background-color: #408d29;
}
.button12:before {
  background-color: #255218;
}

.button13 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  min-height: 50px;
}
.button13:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80964a;
  border-radius: 10rem;
  z-index: -2;
}
.button13:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #546331;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button13:hover {
  color: #fff;
}
.button13:hover:before {
  width: 100%;
}
.button13:after {
  background-color: #f15073;
}
.button13:before {
  background-color: #e2123f;
}

@media (max-width: 770px) {
  .card-wrap img {
    display: none;
  }
  .card-wrap article {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 145px;
  }
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #fff;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footerContent h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footerContent p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 30px;
  font-size: 15px;
  color: #cacdd2;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 1.5px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footerMenu {
  justify-content: center;
  display: flex;
  width: 100%;
}
.footerMenu ul {
  display: flex;
}
.footerMenu ul li {
  padding-right: 10px;
  display: block;
}
.footerMenu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footerMenu ul li a:hover {
  color: #27bcda;
}

/*# sourceMappingURL=style.css.map */
